# build outputs
/dist/
/build/
/lib/

# TypeScript incremental files
*.tsbuildinfo

# test / coverage outputs
/coverage/
/jest-junit.xml
/jest-junit.xml
/jest-results.xml

# refineit outputs
/refineit-report.json
/refineit-debug.json

# Node
/node_modules/
/npm-debug.log
